main{
    display: flex;
    flex-direction: column;
    height: 1070px;
    background: url(../img/fons/fon.png) center/cover no-repeat;
    justify-content: center;
    align-items: center;
}
main .main_promo_text{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
}
main .main_text{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    padding: 20px;
}
main .btn{
    margin-top: 20px;
}
main .btn .reg_btn{
    width: 151px;
    height: 45px;  
    border-radius: 5px;
    border: 1px solid #FFF;
    background: #FFF;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
}
main .btn .avt_btn{
    width: 118px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #FFF;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background-color: rgba(256,256,256,0);
    margin-left: 20px;
    cursor: pointer;
    transition: 0.3s ease-out;
}
main .btn .avt_btn:hover{
    background: #FFF;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    transition: 0.3s ease all;
}
main .arrow{
    position: absolute;
    bottom: 20px;
    left: 50%;
}
.info{
    background-color: #FBF9FA;
    margin-top: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.info .info_subheader, .plan .plan_subheader, .reviews .review_subheader, .plan .item_subheader{
    text-align: center;
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 30px;
}
.info .info_list, .plan .plan_list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    align-items:center;
}
.info .info_list .list_item{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.info .info_list .list_item .item_img{
    height: 50px;
    width: 50px;
}
.info .info_list .list_item .item_text{
    text-align: center;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin-top: 20px;
}
.info .info_list .list_item .item_img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s;
}
.info .info_list .list_item .item_img:not(:hover) {
transition: 1s;
}
.plan .plan_list .plan_item .plan_img{
    height: 350px;
    width: 350px;
}
.plan{
    margin-top: 20px;
}
.plan .plan_list .plan_item{
    display: flex;
    flex-direction: column;
    align-items:center;
    max-width: 400px;
}
.plan .plan_list .plan_item .plan_text{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    padding: 20px;
}
.plan .plan_list .plan_item .plan_img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition-duration: 1s;
}
.plan .plan_list .plan_item .plan_img:not(:hover) {
    transition: 1s;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.blog-card {
display: flex;
flex-direction: column;
margin: 1rem auto;
box-shadow: 0 3px 7px -1px rgba(#000, .1);
margin-bottom: 1.6%;
background: #fff;
line-height: 1.4;
font-family: sans-serif;
border-radius: 5px;
z-index: 0;
width: 300px;
}
.meta {
position: relative;
height: 200px;
}
.photo {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-size: cover;
background-position: center;
}

ul, li {
display: inline-block;
}

.description {
padding: 1rem;
background: #fff;
position: relative;
z-index: 1;
}
.description h1, .description h2 {
font-family: Poppins, sans-serif;
}
h1 {
line-height: 1;
margin: 0;
font-size: 1.7rem;
}
h2 {
font-size: 1rem;
font-weight: 300;
text-transform: uppercase;
color: #a2a2a2;
margin-top: 5px;
}
