.header{
    color:#555ACE;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    line-height: 45px;
    margin-top: 20px;   
}
.parking{
    width: 100%;
    margin-top: 20px;
}
.parking .place{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-top: 30px;
}
.parking .place .place_subheader{
    color:#48466D;
    text-decoration: none;
    line-height: 15px;
    text-align:center;
    padding-left: 50px;
}
.parking .place .place_text{
    color:#48466D;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    text-align:center;
    padding-left: 50px;
}
.parking .place .place_btn{
    margin-top: 19px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #555ACE 0%, #797cd1 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 9px;
    border:none;
    color:#FFFFFF;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 50px;
}